<center>
<form method="POST" action="/signature/delete">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="buttons">
        Delete your signature
    </button>
</form>
</center>
