<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/icon.png">
        <link rel="stylesheet" href="/style.css">
        <title>Stell Arivaldo ein!</title>
    </head>

    <body>
        <div class="pageTop">
            Stell ihn ein!

        </div>

        <div class="pageMiddle">

            Arivaldo arbeitet hart und ist ein Teamfit :-)
            Registriere dich und unterstütze die Petition!

       </div>

        <div class="pageDown">
            {{{ body }}}
                {{#if loginB}}
                Bereits registriert?
                    {{>login-b}}
                {{else}}
                    {{>logout-b}}
                {{/if}}
                {{#if editB}}
                    {{>edit-b}}
                {{/if}}
        </div>

    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="canvas.js"></script>
</html>
