<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/ico.jpg">
        <link rel="stylesheet" href="/style.css">
        <title>Colorful is beautiful!</title>
    </head>

    <body>
        <div class="pageTop">
            Sign our petition to make the wearing of colorful clothes mandatory!
        </div>

        <div class="rainbow"></div>

            {{{ body }}}

                {{#if loginB}}
                {{>login-b}}
                {{else}}
                {{>logout-b}}
                {{/if}}

                {{#if editB}}
                {{>edit-b}}
                {{/if}}

    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="canvas.js"></script>
</html>
