{{#if err}}
<div class="error">
    Das Feld ist noch leer
</div>
{{/if}}

<h1 class="header">
    {{name}} {{lastname}}, unterschreibe die Petition :-)
</h1>

<div class="formCanvas">
    <form method=POST>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="button">
            <input name="signature" type="hidden" id="hiddenField"></input>
            <canvas id="canvas" width="400" height="50"></canvas>
            <br>
            <br>
            <center>
                <button>senden</button>
            </center>
        </div>
    </form>
</div>

{{!-- <script src="script.js"></script> --}}
