<div class="header">
    <div>
        Hey <strong>{{name}}</strong>!
    </div>
        Wir würden gerne ein bisschen mehr über dich wissen :-)
    </div>

<div class="formMehrInfo">
    <form method="POST">
        <input type="text" name="age" placeholder="Dein Alter (optional)">
        <input type="text" name="city" placeholder="Deine Stadt (optional)">
        <input type="text" name="url" placeholder="Deine Internetseite (optional)">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button> Weiter </button>
    </form>
</div>
