

{{#if err}}

<p class="header">
    Etwas ist schief gelaufen.. Versuche es nochmal :-)
</p>

{{/if}}

<div class="form">
    Sich registrieren:
    <form method=POST>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input name="name" placeholder="Vorname"></input>
        <input name="lastname" placeholder="Nachname"></input>
        <br>
        <input name="email" placeholder="Email Adresse"></input>
        <input name="password" type="password" autocomplete="on" placeholder="Dein Passwort"></input>
        <br>
        <center>
            <button>senden</button>
        </center>
    </form>
</div>
