<div class="header">
    Danke, das war ganz richtig :-)
</div>

<div class="headerThanks">
    <br>
    <img class="headerThanks" src={{sigUrl}} alt="signatureImg">
</div>

<a class="header" href="/signatures">
    Check mal die {{numberOfApple}} andere,
    die auch die Petition unterschrieben haben :-)
</a>
