<div class="header">
    Thanks, we will not be colorless :-)
</div>

<div class="headerThanks">
    <br>
    <img class="headerThanks" src={{sigUrl}} alt="signatureImg">
</div>

<a class="header" href="/signatures">
    See who are our {{numberOfApple}} colorful supporters
</a>
